body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 1em;
}

.connect-wallet {
    padding: 0.5em 1em;
    background-color: #e63946;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.instructional {
    text-align: center;
    padding: 2em 0;
}

.how-to-inscribe, .drc-20-btn {
    background: none;
    border: 1px solid #e63946;
    color: #e63946;
    padding: 0.5em 1em;
    text-decoration: none;
    display: inline-block;
    margin: 0.5em;
}

.upload-area {
    padding: 2em;
    text-align: center;
}

.file-upload-label {
    border: 1px dashed #e63946;
    padding: 1em;
    display: inline-block;
    cursor: pointer;
}

#file-upload {
    display: none;
}

.submit-btn {
    background-color: #e63946;
    border: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 1em 0;
}

@media (max-width: 768px) {
    .menu a {
        font-size: 0.8em;
    }
    
    .connect-wallet {
        font-size: 0.8em;
    }
}
